extends layout 

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(type="text" name="name" placeholder="이름" required value=loggedInUser.name)
        input(type="email" name="email" placeholder="이메일" required value=loggedInUser.email)
        input(type="text" name="id" placeholder="아이디" required value=loggedInUser.id)
        input(type="submit" value="수정")
    br
    a(href="/user/edit-password") 비밀번호 변경